<head>
 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NTPKF4PPXM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NTPKF4PPXM');
</script>
</head>
<body>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <h1>Benji Cocktails</h1>
  <%= link_to 'Add a cocktail',new_cocktail_path %>
</div>
<div class="banner" style="background-image: url('https://source.unsplash.com/Fn8f-BYxVQs/1600x900');">
  <div class="container d-flex justify-content-around">
    <% @cocktails.each do |cocktail| %>
    <div class="card-product">
      <div class="card-product-infos">
        <h2><%= link_to cocktail.name, cocktail_path(cocktail)%></h2>
      </div>
    </div>
    <% end %>
  </div>
</div>


</body>
