<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <h1>All our cocktails</h1>
  <%= link_to 'Add a cocktail',new_cocktail_path %>
</div>
<div class="banner">
  <div class="container d-flex justify-content-around">
    <% @cocktails.each do |cocktail| %>
    <div class="card-product">
      <div class="card-product-infos">
        <h2><%= link_to cocktail.name, cocktail_path(cocktail)%></h2>
      </div>
    </div>
    <% end %>
  </div>
</div>


<%= cl_image_tag("https://res.cloudinary.com/dbwsihtcd/image/upload/v1614953932/dvuypjwmeneisiuhuav5.jpg",
      width: 400, height: 300, crop: :fill) %>
