<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <h1>All our cocktails</h1>
  <%= link_to 'Add a cocktail',new_cocktail_path %>
</div>
<div class="banner" style="background-image: url('https://source.unsplash.com/1600x900/?cocktail');">
  <div class="container d-flex justify-content-around">
    <% @cocktails.each do |cocktail| %>
    <div class="card-product">
      <div class="card-product-infos">
        <h2><%= link_to cocktail.name, cocktail_path(cocktail)%></h2>
      </div>
    </div>
    <% end %>
  </div>
</div>
