.navbar-lewagon {
  justify-content: space-between;
  background: #e5e5e5;
  color: #8e9aaf;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  color: #8e9aaf;
  font-weight: bold;
  text-decoration: none;
}
